/*PAGES*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #222331;
}

/*LOGIN*/
.loginBody{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.loginBody button{
    background-color: #FFFFFF;
    font-size: 3vh;
    border-radius: 2vh;
    border-width: .5vh;
    padding: 1vh;
    border: none;
}

.loginBody button:hover{
    background-color: #2628c9;
    color: #FFFFFF;
    filter: drop-shadow(0 0 10vh #000000);
}

.loginBody p{
    font-size: 2.7vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 80vw;
    text-align: center;
    color: #FFFFFF;
    margin-top: 2vh;
}

#acceptedHomeBody{
    display: none;
    align-items: center;
    flex-direction: column;
    padding: 2vh;
    color: #FFFFFF;
    background-color: #403e52;
    font-family: 'Segoe UI';
    min-height: 100vh;
}

#acceptedHomeBody h1{
    font-size: 5vh;
}

#acceptedHomeBody .galerie{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3vh;
}

#acceptedHomeBody .galerie img{
    object-fit: cover;
    width: 300px;
    height: 300px;
    margin: 20px;
}

#acceptedHomebody .galerie img:hover{
    transform: scale(1.5);
    filter: drop-shadow(10vh 10vh 10vh white);
}

#deniedHomeBody{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    color: #FFFFFF;
    font-family: 'Lucida Sans';
    font-size: 3vw;
}