body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b2757;
}

a, p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    margin: 10px;
    color: #fff;
}